:root {
    --main-text-color: rgb(218, 240, 255);
    --accent-color: rgb(213, 213, 213);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    min-height: -webkit-fill-available;
}


body {
    min-height: -webkit-fill-available;
    height: fill-available;
    background-image: linear-gradient(rgba(58, 114, 255, 0.2),
            rgba(18, 18, 18, 0.1),
            rgba(18, 18, 18, 0.2),
            rgba(0, 0, 0, .3),
            rgba(0, 0, 0, .5)),
        url("https://images.unsplash.com/photo-1511895426328-dc8714191300?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fGZhbWlseXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=1000&q=60");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--main-text-color);
    height: calc(100vh - 56px);
}

.contain {
    margin-top: 8rem;
}

.hero {
    text-align: center;
    height: auto;
    -webkit-text-stroke: 1px rgb(64, 64, 64);
}

.hero h1{
    font-size: 3rem;
    -webkit-text-stroke: 1px rgb(64, 64, 64);
    font-weight: bolder;
}

.hero p {
    font-size: 2rem;
    font-weight: 700;
}

.form-container {
    padding: 1rem;
    background-color: rgba(74, 74, 74, 0.3);
    border-radius: 1rem;
    width: 500px;
    min-width: 375px;
    height: auto;
}

.form-head {
    text-align: center;
    font-size: 1.75rem;
    -webkit-text-stroke: 1px rgb(64, 64, 64);
    color: var(--main-text-color);
    font-weight: 700;
}

.form-head h3 {
    font-weight: bolder;
}

.section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.stratigies h3 {
    color: var(--accent-color);
}

input {
    width: 100%;
    max-width: 500px;
    background: transparent;
    border-radius: 2px;
    border: solid var(--accent-color) 2px;
    padding: 0.5rem;
}

#emailHelp {
    color: rgb(255, 255, 255);
}

::placeholder {
    /* Firefox, Chrome, Opera */
    color: rgb(255, 255, 255);
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(255, 255, 255);
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgb(255, 255, 255);
}

.submit-btn {
    width: 100%;
    background-color: var(--accent-color);
    border: none;
    padding: 0.5rem;
    border-radius: 2px;
}


@media screen and (max-width: 762px) {
    .section-1 {
        flex-direction: column;
        padding-top: 0;
    }

    .form-container {
        padding: 0 .5rem .25rem .5rem;
    }

    .hero {
        font-size: .0rem;
        text-align: center;
    }

    body{
        line-height: normal;
    }
}

@media screen and (max-width: 480px) {
    .form-container {
        width: 100%;
        border-radius: 0;
    }

    .contain {
        margin-top: 1.5rem;
    }
}

/* https://images.unsplash.com/photo-1475503572774-15a45e5d60b9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTV8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=1000&q=60 */
/* https://images.unsplash.com/photo-1592711491694-e85f60a7773a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDR8fGZhbWlseXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=1000&q=60 */
/* https://images.unsplash.com/photo-1511895426328-dc8714191300?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fGZhbWlseXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=1000&q=60 */
/* https://images.unsplash.com/photo-1517764356594-a9a7bf407b2f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjY1fHxkaXJ0JTIwcm9hZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=1000&q=60 */
/* https://images.unsplash.com/40/KJyFV5SZSweiYGhMhrqC_MD4817.jpg?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjk5fHxkaXJ0JTIwcm9hZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=1000&q=60 */
/* https://images.unsplash.com/photo-1504196944588-6a0df8be8513?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzIzfHxkaXJ0JTIwcm9hZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=1000&q=60 */